/* Button */
.button-hero {
    display: inline-block;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.875;
    padding: 10px 32px;
    color: var(--brand-white);
    background-color: var(--button-main-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;
    transition: background-color 250ms var(--timing-function);
  }
  
  .button-hero:hover,
  .button-hero:focus {
    cursor: pointer;
    background: var(--brand-blue);
  }
  